<div class="header-title">
<div  style="text-align: center;font-family:'Courier New', Courier, monospace ;font-weight: bold; font-style: italic;color: rgba(9, 95, 31, 0.842); text-shadow: 4px 6px 4px #c7c3c3;font-size:50px">My Budget</div>
<!-- <br> -->
<div class="nav-container">
      <div class="navs">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact:true}"
                  routerLink="/"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  routerLinkActive="active"
                  routerLink="banks"><i class="fas fa-university fa-xl"></i> Banks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                   routerLinkActive="active"
                   routerLink="beneficiaries"><i class="fas fa-user-friends"></i> Beneficiaries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
      </div>
      <div class="auth">
        <button class="btn btn-light" (click)="onLogout()">Logout</button>
      </div>

</div>
</div>
