<h4 style="text-align: center">{{title}}</h4>
<br>

<div style="max-width: 400px">
<form (ngSubmit)="onSubmit()" #f="ngForm">
  <div class="form-group">
    <label for="code">Code:</label>
    <input id="code"
           name="code"
           class="form-control"
           placeholder="Bank code"
           ngModel
           required>
    <!-- <small id="codeHelp" class="form-text text-muted">Uniqe bank code.</small> -->
  </div>
  <div ngModelGroup="bankInfo" #bankInfo="ngModelGroup">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name"
            name="name"
            class="form-control"
            placeholder="Bank name"
            ngModel
            required
            #name="ngModel">
      <small *ngIf="!name.valid && name.touched"
            class="form-text text-muted">
        Please enter bank name.
      </small>
    </div>
    <div class="form-check form-check-inline" *ngFor="let bankType of bankTypes">
        <input
          type="radio"
          class="form-check-input"
          name="bankType"
          [id]="bankType"
          [value]="bankType"
          ngModel
          required>
        <label class="form-check-label" [for]="bankType">
          {{ bankType }}
        </label>
    </div>

  </div>
  <br>
  <p *ngIf="!bankInfo.valid">Please Complete Bank info</p>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
    <i class="far fa-save"></i> Save Bank</button>
    <button type="button" class="btn btn btn-success" (click)="initForm()">fill</button>
</form>

</div>
